<h1>Orgs List</h1>


<div class="orgs-list">
    {{#each model as |anorg|}}
        {{github-org
            gh-org = anorg
            gh-link-route = 'org'
            gh-action = 'favouriteClicked'
            gh-action-title = '★' 
            gh-action-alt-title = '✩'           
        }}            
    {{/each}}
</div>


<div class="people-social-links">
    {{social-info 
        name = 'Zen Panda'
        twitter = 'ZPCoding'
        github = 'Zen-Pandawan'
        on-expansion-toggle='socialExpansionToggled'}}
        
    {{social-info 
        name = 'Sean Smith'
        
        github = 'Zen-Pandawan'}}
</div>

{{outlet}}