<h1>Orgs List</h1>


<div class="orgs-list">
    {{#each model as |anorg|}}
        {{github-org
            org = anorg
            link-route = 'org'
            action = 'favouriteClicked'
            action-title = '★'            
        }}            
    {{/each}}
</div>


<div>
    {{social-info 
        name = 'Zen Panda'
        twitter = 'ZPCoding'
        github = 'Zen-Pandawan'
        on-expansion-toggle='socialExpansionToggled'}}
        
    {{social-info 
        name = 'Sean Smith'
        
        github = 'Zen-Pandawan'}}
</div>

{{outlet}}